// Checkout preview, big-desktop-up

.checkout-preview
	height: 950px
	background:
		image: url("../img/browser.svg")
		repeat: no-repeat
		position: center -20px
	position: relative
	display: flex
	justify-content: center
	overflow: hidden

	& > iframe
		margin-top: 30px
	& > a
		@extend %button
		background-color: $brand-primary
		padding: 0 64px
		position: absolute
		bottom: 120px
		left: 50%
		transform: translateX(-50%)
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12)
