// Rodapé

.footer
	width: 100vw
	background-color: $neutral_80
	color: $neutral_10
	display: flex
	flex-flow: column wrap
	align-items: center

	.contato
		width: 100%
		max-width: $column-big-up
		display: flex
		column-gap: 2vw
		box-sizing: border-box
		padding: 96px 0
		position: relative

		address
			flex: 1 1 0
			box-sizing: border-box
			font-style: normal
			position: relative
			border: solid 1px $neutral_50
			padding: 1.5vw
			border-radius: 8px
			
			&:first-of-type,
			&:nth-of-type(2)
				strong
					background-image: url("../img/whatsapp.svg")

			&:last-of-type
				strong
					background-image: url("../img/ouvidoria.svg")

			strong
				display: block
				font-size: 1.2rem
				line-height: 140%
				font-weight: 400
				padding-left: 56px
				background:
					position: 0 center
					repeat: no-repeat
					size: 32px auto
				small
					font-size: 0.8rem
					font-weight: lighter
					opacity: 0.5

			em
				display: block
				font-size: 2.5rem
				line-height: 140%
				margin: 24px 0
				font-weight: 100

			i
				display: block
				font-size: 1.75rem
				line-height: 140%
				margin: 24px 0

			p
				font-size: 1.25rem
				line-height: 140%
				margin-bottom: 24px
				font-weight: lighter

			a
				font-size: 1.25rem
				line-height: 140%
				display: inline-block
				color: white
				padding-right: 32px
				background: url("../img/arrow-left-invert.svg") no-repeat right center
				transition: padding-right 0.5s $ease

				&:hover
					padding-right: 40px

			.qrcode
				font-size: 0.9rem
				line-height: 140%
				display: block
				height: 128px
				padding: 24px 0
				position: relative

				&::before
					content: ''
					position: absolute
					top: 24px
					left: 0
					width: 128px
					height: 128px
					background:
						color: white
						repeat: no-repeat
						position: 50% 50%
						size: 95% auto
					border-radius: 4px

				&.suporte::before
					background-image: url("../img/qr-suporte.svg")
				&.comercial::before
					background-image: url("../img/qr-comercial.svg")

				&::after
					content: ''
					width: 1px
					height: 128px
					background-color: white
					opacity: 0.3
					position: absolute
					top: 24px
					left: 152px

				span
					padding-left: 176px
					display: block
					width: 120px



		.move-up
			display: block
			width: 80px
			height: 80px
			background: $neutral_80 url("../img/move-up.svg") no-repeat 0 0
			border: solid 1px $neutral_50
			border-radius: 80px
			position: absolute
			bottom: -40px
			right: 0

			&:hover
				background-color: lighten($neutral_80, 10%)


	.links
		width: 100%
		max-width: $column-big-up
		border-top: solid 1px $neutral_50
		box-sizing: border-box
		padding: 64px 112px 72px
		display: flex

		& > div
			flex: 1 1 0

			div
				margin: 24px 0 8px
			a
				font-size: 1.25rem
				line-height: 140%
				display: inline-block
				color: white
				position: relative
				margin-right: 36px

				&:hover
					opacity: 0.7

				&:not(:first-child)::before
					content: ''
					width: 4px
					height: 4px
					border-radius: 4px
					background-color: white
					opacity: 0.4
					position: absolute
					top: 50%
					left: -20px
					cursor: default

			small
				opacity: 0.6

				a
					text-decoration: underline


		.social
			flex: 0 1 auto
			display: flex
			justify-content: flex-end
			gap: 16px
			position: relative

			li
				flex: 0 1 40px
				display: flex

			a
				align-self: flex-end
				display: block
				width: 40px
				height: 40px
				overflow: hidden
				text-indent: -999px
				opacity: 0.5
				background:
					repeat: no-repeat
					size: 100% auto
					position: 0 0

				$social_list: facebook instagram youtube
				@each $social in $social_list
					&.#{$social}
						background-image: url(../img/#{$social}.svg)

				&:hover
					opacity: 1

